<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add a player</title>
</head>
<body>
    <form method="post">
        <label>Position:</label>
        <select name="position">
           <option th:each="position: ${positions}" th:text="${position}" th:value="${position}"/>
        </select>
        <label>Player:</label>
        <select name="playerId">
            <option th:each="player: ${players}" th:text="${player.name}" th:value="${player.playerId}" />
        </select>
        <input type="submit" />
    </form>
</body>
</html>